html {
    scroll-behavior: smooth
}

body {
    /* font-family: 'Montserrat',
    sans-serif; */
    font-family: 'Noto Sans JP',
        sans-serif;
}

/* header {
    padding-top: 50px;
} */

/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    margin: 50px auto 0;
    padding-bottom: 500px;
    /* margin-left: auto;
    margin-right: auto; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */

    /* Sizing */
    height: 100vh;
    min-height: 680px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

#carousel-header-indicators .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel-header-indicators .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.navbar-brand {
    width: 100px;
}

.nav-item {
    font-family: 'Noto Sans JP',
        sans-serif;
}

.top-container {
    margin-top: 100px;
    padding-bottom: 100px;
}

.who-wrapper{
    margin-left:190px
}

.desc-wrapper {
    background-color: #fafafd;
    float: left;
    margin-left: 10px;
    width: 500px;
}

.who-desc {
    padding: 50px 40px 40px;
}

.web-icon {
    display: inline;
}

.button1 {
    background-color: #F84444 !important;
    color: white !important;
}

.mascot-img {
    margin-left: 200px;
    margin-top: 50px;
    max-width: 200px;
}

.product-superiority {
    background-color: #fafafd;
    /* margin-left: 200px; */
    margin-top: 100px;
    padding: 100px 0;
    text-align: center;
    /* width: 1000px; */
}

.product-container {
    margin: 0 200px;
}

.square-wrapper {
    display: inline-block;
    width: 350px;
}

.content-product {
    padding: 40px 30px;
}

.content-product p {
    font-family: 'Montserrat',
        sans-serif;
    margin-top: 20px;
}

.content-img {
    margin: auto;
    width: 75px;
}

.tcontainer {
    margin-top: 100px;
}

.inner-tcontainer {
    text-align: center;
    margin: 50px 190px;
}

.team-content {
    margin-top: 50px;
}

.team-wrapper {
    display: inline-block;
    padding: 50px 50px;
}

/* Profile Image Styling */
.circular-landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular-landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.circular-portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular-portrait img {
    width: 100%;
    height: auto;
}


.circular-square img{
    border-radius: 50%;
    width: 200px;
}

.social-icon img {
    width: 30px;
}

.social-icon a:hover{
    text-decoration: none;
}

.team-list h3 {
    font-size: 1.25rem;
    padding-top: 10px;
}

/* Award Container */
.award-container{
    background-color: #F84444;
    margin-top: 100px;
    padding: 50px 0;
    text-align: center;
}

.award-content{
    display: inline-block;
    width: 350px;
}

.award-content p{
    font-family: 'Montserrat',
    sans-serif;
    color: white;
    padding: 10px 0;
}

.award-img img{
    width: 100px;
}

/* Latest Product */
.portfolio-panel{
    margin-top: 100px;
    text-align: center;
}

.portfolio-panel h3{
    font-family: "Open Sans",
    sans-serif;
}

/* .gallery{
    margin-top: 50px;
} */

.gallery-title {
    font-size: 36px;
    color: #F84444;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

.gallery_product img{
    width: 200px;
}

/* Customized Menu Underlined */
.product-menu{
    margin-bottom: 0;
    text-align: center;
}

.product-menu ol,
.product-menu ul {
    list-style: none;
}

.product-menu li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}

.product-menu li a:focus,
.product-menu li a:active {
    color: #000;
    text-decoration: none;
}

.product-menu li a {
    font-family: 'Montserrat',
    sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.product-menu li a {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #000;
}

.product-menu li a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #F84444;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.product-menu li a:active::before {
    background-color: #F84444;
}

.product-menu li a:hover::before,
.product-menu li a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

/* Testimony Container */
.col-sm-12 h2 {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 70px;
}

.col-sm-12 h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #F84444;
    left: 0;
    right: 0;
    bottom: -20px;
}

.carousel .carousel-item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
}

.carousel .media img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 0 15px 0 60px;
    position: relative;
}

.carousel .testimonial::before {
    content: "\201C";
    font-family: 'Montserrat',
        sans-serif;
    color: #e2e2e2;
    font-weight: bold;
    font-size: 68px;
    line-height: 54px;
    position: absolute;
    left: 15px;
    top: 0;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #F84444;
}

#productCarousel .carousel-indicators {
    bottom: -40px;
}

#productCarousel .carousel-indicators li,
#productCarousel .carousel-indicators li.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 1px 3px;
    box-sizing: border-box;
}

#productCarousel .carousel-indicators li {
    background: #e2e2e2;
    border: 4px solid #fff;
}

#productCarousel .carousel-indicators li.active {
    color: #fff;
    background: #F84444;
    border: 5px double;
}

.container-xl {
    margin-top: 50px;
}

/* Bottom Container */
.bottom-container{
    margin-top: 200px;
    background-color: #303960;
}

.bottom-content h3{
    color: white;
    font-size: 1rem;
}

.content-list p{
    color: #838BAE;
}

/* Footer Style */
body {
    /* color: #ccc */
}

.footer-widget p {
    margin-bottom: 27px;
}

.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dk-footer {
    margin-top: 250px;
    padding: 75px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
}

.dk-footer p {
    font-family: 'Montserrat',
    sans-serif;
    font-size: 15px;
    line-height: 28px;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
    margin-left: -80px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #007bff;
}

.dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    color: #fff;
    margin: 26px 0 32px;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #007bff;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}

/* ==========================

    Contact

=============================*/
.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff;
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
}

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright a:hover {
    color: #007bff;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.back-to-top {
    position: relative;
    z-index: 2;
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742;
}

/* 
=====================
services.html 
=====================
*/
/* text header*/
.text-header {
    text-align: center;
}

.text-header p {
    font-size: 20px;
    color: #000;
    margin-top: 305px;
}

.text-header p1 {
    font-size: 15px;
    color: #000;
    margin-top: 305px;
}

/*Anything you need */
.award-container1 {
    background-color: #fff;
    margin-top: 10px;
    padding: 50px 0;
    text-align: center;
}

.award-content1 {
    border: 1px solid red;
    display: inline-block;
    width: 350px;
}

.award-content1 p {
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 10px 0;
}